{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">BOOK</legend>
      
      <div class="form-group">
          {{ form.V_ID.label(class="form-control-label") }}
          {% if form.V_ID.errors %}
              {{ form.V_ID(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.V_ID.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.V_ID(class="form-control form-control-lg") }}
          {% endif %}
      </div>

      <!-- Name -->
      <div class="form-group">
        {{ form.Name.label(class="form-control-label") }}
        {% if form.Name.errors %}
        {{ form.Name(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.Name.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.Name(class="form-control form-control-lg") }}
        {% endif %}
      </div>

      <!-- Phone_No -->
      <div class="form-group">
        {{ form.Phone_No.label(class="form-control-label") }}
        {% if form.Phone_No.errors %}
        {{ form.Phone_No(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.Phone_No.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.Phone_No(class="form-control form-control-lg") }}
        {% endif %}
      </div>

      <!-- Email -->
      <div class="form-group">
        {{ form.Email.label(class="form-control-label") }}
        {% if form.Email.errors %}
        {{ form.Email(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.Email.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.Email(class="form-control form-control-lg") }}
        {% endif %}
      </div>
    </fieldset>

    <!-- Submit -->
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</div>
{% endblock content %}