{% extends "layout.html" %}
{% block content %}
<font size="4" color="black">Customer information</font></a>
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.D_number, 'BOOK', post.V_ID}}</a>
            </div>
            <p class="article-content">{{ 'Customer name', post.Name}}</p>
            <p class="article-content">{{ 'Phone No', post.Phone_No}}</p>
            <p class="article-content">{{ 'Email',post.Email }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}