{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.V_ID,'--',post.B_ID,post.Location,'--',post.Phone_number }}</a>
            </div>
            <p class="article-content">{{ 'MODEL:', post.Model }}</p>
            <p class="article-content">{{ 'KILOMETERS:', post.Kilometers }}</p>
            <p class="article-content">{{ 'PRICE:', post.Price }}</p>
            <p class="article-content">{{ 'YEAR:', post.C_Year }}</p>
            <p class="article-content">{{ 'ACCIDENT:', post.Accident }}</p>
            <p class="article-content">{{ 'BRAND:', post.Car_brand }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}



