{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
    {% endfor %}
<p><p><p><p><p></p>
<a href="/modify"><font size="4" color="blue">Modify</font></a>
<p><p><p><p><p></p>
<a href="/delete"><font size="4" color="blue">Del Car</font></a>
<p><p><p><p><p></p>
<a href="/delete_cascade"><font size="4" color="blue">Del Branch(CASCADE)</font></a>
<p><p><p><p><p></p>
<a href="/add"><font size="4" color="blue">Add Car</font></a>
<p><p><p><p><p></p>
<a href="/aggregate_group_by"><font size="4" color="blue">Aggregate group by B_ID</font></a>
<p><p><p><p><p></p>
<a href="/aggregate"><font size="4" color="blue">Aggregate Function</font></a>
<p><p><p><p><p></p>
<a href="/division"><font size="4" color="blue">Retrieve the brands of cars which are in all branchs</font></a>
<p><p><p><p><p></p>
<a href="/customer"><font size="4" color="blue">Customer</font></a>
<p><p><p><p><p></p>
</p>
</article>
{% endblock content %}



